{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{room_name}} Lobby
  </title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>

  <div class="chat-container">
    <div class="chat-header">
      <h1>{{room_name}} Lobby</h1>
      <h2></h2>

      <div id="alerts"></div>

    </div>

    <div class="chat-messages" id="messages">
      <!-- Chat messages will be added here dynamically -->
    </div>

    <div class="chat-input">
      <form id='form'>
        <input type="text" class="form-control" id="textinput" name="message"
          placeholder="I know you will try your best to be kind...">
        
        <button type="submit" id="send-button" class="small-button">Send</button>
      </form>
      <button class="first-btn small-button">🙂</button>
    </div>

  </div>
  <script src="{% static 'vanillaEmojiPicker.js' %}"></script>
  <script type="text/javascript">

    const user_name = "{{user_name}}";
    const lobbycode = "{{lobbycode}}";

    let url = `ws://${window.location.host}/ws/socket-server/${lobbycode}/`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function (e) {
      let data = JSON.parse(e.data)

      let messages = document.getElementById('messages');
      let messageClass = (data.type == 'chat' && data.user_name === user_name) ? 'received' : 'sent';

      if (data.type == 'member_count') {
        document.insertAdjacentHTML('afterbegin',
          `<h2>Members: ${data.member}</h2>`);
      }

      if (data.type == 'connection_established') {
        messages.insertAdjacentHTML('afterbegin',
          `<p class="${messageClass} message">
                            <span class='user_name'>Nz:</span>
                            <br/>
                            ${data.message}
                        </p>`);
      }

      else if (messageClass == 'sent') {
        messages.insertAdjacentHTML('afterbegin',
          `<p class="${messageClass} message">
                            <span class='user_name'>${data.user_name}:</span>
                            <br/>
                            ${data.message}
                        </p>`);
      }

      else {
        messages.insertAdjacentHTML('afterbegin',
          `<p class="${messageClass} message">
                            <span class='user_name'>You:</span>
                            <br/>
                            ${data.message}
                        </p>`);
      }

    };



    let form = document.getElementById('form')
    form.addEventListener('submit', (e) => {
      e.preventDefault()
      let message = e.target.message.value
      chatSocket.send(JSON.stringify({
        'message': message,
        'user_name': user_name
      }))
      form.reset()
    })

    new EmojiPicker({
      trigger: [
        {
          selector: '.first-btn',
          insertInto: ['.form-control']
        },
      ],
      closeButton: true,
      moveButton: false,
    });

  </script>
</body>

</html>